body {
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width:1200px;
    }
}

@media (min-width: 1000px) {
    .modal-xl {
        width: 90%;
        max-width:1600px;
    }
}
